* {
    box-sizing: border-box;
    --theme-color: rgba(11, 130, 241);
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.abtn {
    color: rgb(11, 130, 241);
    text-decoration: none;
    transition: .6s;
}
.abtn:hover {
    text-decoration: underline 2px rgb(11, 130, 241);
    transition: ease-in-out .6s;
}
p {
    cursor: default;
}
.title {
    position: relative;
    font-size: xx-large;
    width: 60%;
}
body {
    margin: 0;
    background-origin: content-box;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Agency FB", arial;
    padding: 0 10%;
}
.para1 {
    position: relative;
    z-index: 1;
}
.fi {
    width: 60px;
    margin: 30px;
    filter: saturate(0);
    transition: linear .5s;
}
.fi:hover {
    filter: saturate(1.5);
    cursor: pointer;
    transition: linear .5s;
}
.photo {
    position: relative;
    border-radius: 50%;
    padding: 1px;
    border: 2px solid rgb(11, 130, 241);
    width: 75px;
}
footer {
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-top: rgb(11, 130, 241) 2px solid;
}
.f-item {
    position: relative;
    z-index: 2;
}
footer .row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
    }
}
@media screen and (max-width: 300px) {
    footer {
        flex-direction: column;
    }
    footer .row {
        flex-direction: column;
    }
}

/* Header */
header {
    margin: 1% 0 0 0;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

nav {
    display: flex;
    align-items: center;
    height: 5%;
    width: 35%;
}
nav .fa-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: xx-large;
    z-index: 5;
}
.nav-list {
    cursor: pointer;
    z-index: 5;
    width: 100%;
    display: flex;
    position: relative;
}
.nav-list a {
    display: inline-block;
    padding: 0.5% 2%;
    border-radius: 6px;
    font-size: large;
    height: 100%;
}
.nav-list a.active {
    color: var(--theme-color);
    text-decoration: underline 2px;
}

.hover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    opacity: 0;
    border-radius: 6px;
    z-index: -1;
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}

.nav-list a:nth-child(1):hover ~ .hover {
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    width: 10.5%;
    opacity: 1;
    left: 6.5%;
}
.nav-list a:nth-child(2):hover ~ .hover {
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    width: 18.25%;
    opacity: 1;
    left: 18.5%;
}
.nav-list a:nth-child(3):hover ~ .hover {
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    width: 18.25%;
    opacity: 1;
    left: 38.5%;
}
.nav-list a:nth-child(4):hover ~ .hover {
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    width: 9%;
    opacity: 1;
    left: 59%;
}
.nav-list a:nth-child(5):hover ~ .hover {
    transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    width: 16%;
    opacity: 1;
    left: 70%;
}

/* Page */
.copy {
    font-size: smaller;
    text-align: center;
}
.content {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 2% 15% 0% 15%;
    color: black;
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}


/* Responsive */
@media screen and (max-width: 1500px) {
    nav {
        padding: 0;
    }
    .nav-list {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(222, 222, 222, 0.2);
        backdrop-filter: blur(7px);
        overflow: hidden;
        margin-left: -100%;
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
    .nav-list.mobile-menu {
        margin-left: 0;
    }
    nav .fa-bars {
        display: block;
    }
    .nav-list a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        font-size: 1.3em;
    }
    .nav-list a.active {
        background-color: transparent;
        color: rgb(11, 130, 241);
        font-weight: 700;
        font-size: 1.4em;
    }
    .hover {
        height: 0;
        width: 0;
        opacity: 0;
    }
}